<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="info">
    <h1>
        Patients information
    </h1>
    <p><b>Name</b>:hedywegr</p>
    <p><b>Age</b>: xx</p>
    <p><b>Gender</b>:bdhd</p>
    <p><b>Permanent Address</b>:gcgfdcfnbhhbjkjkkjkxxsdrfg</p>
    <p><b>City </b>:bsdxgjh</p>
    <p><b>Hospital Name</b>: gsxdf</p>
    <p><b>Symotoms:</b> edhc</p>
    <p><b>Security level</b>: xsyjd</p>
    <p><b>Days of Symptoms</b>: xxx</p>
    <p><b>Weight</b>:xhn</p>

</section>
</body>
</html>