<!DOCTYPE html>
<html>
  <head>
    <title>Registration form</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section class="reg">
      <div class="main">
        <div class="resgister">
          <h2>Register Here</h2>
          <form id="register" method="post">
            <label>Full Name :</label>
            <br />
            <input
              type="text"
              name="Fullname"
              id="name"
              placeholder="Enter your Fullname  :"
            />
            <br /><br />

            <label> Your Age :</label>
            <br />
            <input
              type="number"
              name="age"
              id="name"
              placeholder="How old are you?"
            />
            <br /><br />
            <label>Email : </label>
            <br />
            <input
              type="email"
              name="email"
              id="name"
              placeholder="Enter your valid Email"
            />
            <br /><br />
            <label> Gender :</label>
            <br />
            &nbsp;&nbsp;&nbsp;
            <input type="radio" name="gender" id="male" />
            &nbsp;
            <span id="male">Male</span>
            &nbsp;&nbsp;&nbsp;
            <input type="radio" name="gender" id="female" />&nbsp;
            <span id="female">Female</span>
            <br /><br />
            <label>Permanent Address :</label>
            <br />
            <input
              type="text"
              name="Address"
              id="name"
              placeholder="Enter your  address  "
            />
            <br /><br />
            <hr />
            <label>City :</label>
            <br />
            <input
              type="text"
              name="City"
              id="name"
              placeholder="Enter City name"
            />
            <br /><br />
            <label>Hopsital Name : </label>
            <br />
            <input
              type="text"
              name="Hospital Name"
              id="name"
              placeholder="Enter Hospital name  "
            />
            <br /><br />
            <label>Symptom(s) : </label>
            <br />
            <input
              type="text"
              name="Symptoms"
              id="name"
              placeholder="Enter Symptom if any"
            />
            <br /><br />
            <label>Severity level : </label>
            <br />
            <input type="checkbox" name="Severity" id="severity" />&nbsp;
            <span id="Minor">Minor</span>
            &nbsp;&nbsp;&nbsp;
            <input type="checkbox" name="Severity" id="severity" />&nbsp;
            <span id="Medium">Medium</span>
            &nbsp;&nbsp;&nbsp;
            <input type="checkbox" name="Severity" id="severity" />&nbsp;
            <span id="Max">Max</span>
            &nbsp;&nbsp;&nbsp;
            <input type="checkbox" name="Severity" id="severity" />&nbsp;
            <span id="Emergency">Emergency</span>
            <br /><br />

            <label> Days of Symptoms :</label>
            <br />
            <input
              type="number"
              name="Days"
              id="Days"
              placeholder="Enter days in digit(s)"
            />
            <br /><br />
            <label> Weight :</label>
            <br />
            <input
              type="number"
              name="Weight"
              id="Weight"
              placeholder="Enter  weight in digit(s)"
            />
            <br /><br /><br />
            <input type="submit" value="Submit" name="submit" id="submit" />
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
